* {
    padding: 0px;
    margin: 0px;
}

/*======================MOBILE================================ */

/* MENU */
body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
}

li {
    list-style: none !important;
    font-weight: bolder !important;
    a {
        text-decoration: none !important;
        color:black !important;
    }
}


.menu {
    display: flex;
    font-size: 1.31rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 39px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10px !important;
    margin-right: 10px !important;
     li{
        margin-left: 10px;
        margin-right: 10px;
    }
}
.menu li a:hover {
    color:orangered !important;
    font-size: 30px;
}
/*INDEX*/
.indtext {
    background-color: rgb(246, 134, 93);
}


/*MIEMBROS*/

.naranja {
    color: orangered !important;
    font-weight: bolder;
}

.member {
    padding-top: 10px !important;
}

.negro {
    background-color: black;
}

/* CONTACTO */

.nombre {
    margin-top: 20px;
}

.email {
    margin-left: 24px;
}

textarea {
    width: 350px;
    height: 100px;
}

.enviar {
    margin-bottom: 20px;
}

/*Song machine*/

.textc {
    text-align: center;
}

/* =========================TABLET===============================*/

@media screen and (min-width: 711px) {
    .go {
        display: flex;
        justify-content: center;
    }
    .gorillaz {
        width: 500px;
        height: 151.5px;
    }
}

/* ========================Deskop================================ */

@media screen and (min-width: 1000px) {
    .nosotros {
        margin-left: 20px;
    }

    .info {
        margin-right: 20px;
    }
    //index
    .img {
        width: auto;
        height: auto;
    }
    .indgrid {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows:  auto;
    }
    .go {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .indtext {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    //footer
    .foot {
        margin-top: 25px;
    }
}

/* map footer*/

$divcolor:(uno:red, dos:blue, tres:yellow);

@each $clave, $valor in $divcolor {
    .colu-#{$clave} {
        background-color: $valor;
    }
}

/* map-get museum*/

$stylo: (
    color: red,
    fuente: 24px
);

.stilo {
    color: map-get($stylo, color);
    font-size: map-get($stylo, fuente)
}

/* extend miembros h1*/

.azul {
    color:blue;
    font-weight: bolder
}

.azul--rojo {
    @extend .azul;
    color: red;
}

/* mixin song machine h1*/

@mixin vs ($color, $font) {
    color: $color;
    font-weight: $font;   
}

.box {
    @include vs (red, bolder );
}

